.container {
  display: flex;
  min-height: 100vh;
  padding-top: 4rem; /* برای جبران فضای هدر ثابت */
}

.main {
  margin-left: 250px;
  width: 100%;
  padding: 2rem;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    padding: 1rem;
  }
}